@import "./variables";
body.dark {
  background-color: #2e353f;
  text-shadow: $dark-text-shadow;
  color: $dark-light-font-color;

  // home
  .home-header {
    color: $dark-light-font-color;
  }
  .main-heading {
    color: #fefefe;
  }
  .about {
    a {
      color: #dadada;
    }
  }

  .bio {
    .author-name-content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-link-color;
    }
  }

  a {
    color: #dadada;
  }
  .category-wrapper {
    background-color: #2e353f;
  }
  .category-container {
    background-color: #8d7947;
    .item {
      border: 2px solid #6b6b6b;
      background-color: #656b75;
      color: #dadada;
      &[aria-selected='true'] {
        border: 2px solid #ddd;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: #fefefe;
      }
      &[aria-selected="false"] {
        :hover {
          background: #b0bcc5;
          color: #696969;
        }
      }
    }
  }

  .thumbnail {
    h3 {
      color: $dark-light-font-color;
    }
    p {
      color: $dark-middle-font-color;
    }
    &:hover {
      text-shadow: $dark-hover-text-shadow;
    }
  }

  .post-date {
    color: $light-gray;
  }

  .footer {
    color: $dark-middle-font-color;
    a {
      color: $dark-lightest-font-color;
    }
  }

  // post
  h1,
  h2 {
    border-bottom-color: rgba(255, 255, 255, 0.3);
  }

  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }

  td {
    border-bottom: 1px solid #eee;
  }

  blockquote {
    color: $dark-blockquote-quote-color;
  }
}