@import '../../styles/variables.scss';

.category-container {
  position: sticky;
  position: -webkit-sticky;
  top: 8px;
  line-height: 0;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none; // IE 10+
  z-index: 1;
  padding: 6px 20px;
  border-radius: 5px;
  background-color: #f4f7f8;
  color: #424242;

  scroll-behavior: smooth;

  .item {
    border-radius: 5px;
    display: inline-block;
    margin: 0.25rem 10px 0.25rem 0;
    white-space: normal;
    box-sizing: border-box;
    border: 1px solid #ecf0f2;
    background-color: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    overflow: hidden;
    font-weight: 600;

    &[aria-selected="false"] {
      :hover {
        background: #cfdeec;
        color: #696969;
      }
    }

    &[aria-selected="true"] {
      border: 2px solid #005b99;
      font-weight: bolder;
    }

    div {
      display: block;
      padding: 14px 16px 16px 16px;
      font-size: 13px;
      box-sizing: border-box;
      cursor: pointer;
      font-weight: 600;
    }
  }

  .item:last-child {
    margin-right: 0;
  }
}

.category-container::-webkit-scrollbar {
  display: none; // Safari and Chrome
}